<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


    <p> <%= "Team Name: #{@contents[:name]}" %> </p>
    <p> <%= "Coach: #{@contents[:coach]}"%> </p>
    <p> <%= "Point Guard: #{@contents[:pg]}" %> </p>
    <p> <%= "Shooting Guard: #{@contents[:sg]}" %> </p>
    <p> <%= "Small Forward: #{@contents[:sf]}" %> </p>
    <p> <%= "Power Forward: #{@contents[:pf]}" %> </p>
    <p> <%= "Center: #{@contents[:c]}" %> </p>
 </body>
</html>
